@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Russo+One&display=swap');
*{
  scroll-behavior: smooth;
}
:root{
  --mainColor: #bbb8b8;
  --secondaryColor: #fff;
  --borderColor: #c1c1c1;
  --mainText: black;
  --secondaryText: #4b5156;
  --themeBorder: #24292e;
  --previewBackground: rgb(252, 249, 243,0.8);
  --previewShadow: #f0ead6;
  --btnColor: black;
  --themeHover: black;
}
body *{
  transition: 0.3s;
}
html, body{
  padding: 0;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,strong{
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  letter-spacing: 1.5px;
  
  font-weight: 500;
}
h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}
a{
  text-decoration: none;
  color:#17a2b8;
}
ul{
  list-style: none;
}
p,li, span, label, input,textarea, a{
color: var(--mainText);
font-family: 'Poppins', sans-serif;
}
img{
  width: 300px;
}

.s1{
  background-color: var(--mainColor);
  border-bottom: var(--borderColor);
  overflow: auto;
}
.s2 {
  background-color: var(--secondaryColor);
  border-bottom:1px solid var(--borderColor);
  overflow: auto;
}
.main-container{
  width: 1200px;
  margin: 0 auto;
}
.greeting-wrapper{
  display: grid;
  min-height: 10em;
  text-align: center;
  align-content: center;
}
.greeting-wrapper .name{
  font-family: 'Russo one', Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 2px;
  color: var(--mainText);
  transition:all .8s;
  cursor: pointer;
}
.greeting-wrapper .name:hover{
  color: yellow;
  text-decoration: underline;
  transform: translateY(-20px);
}
.intro-wrapper{
  width: auto;
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    'nav-wrapper nav-wrapper'
    'left-column right-column'
  ;
  margin-bottom: 50px;
}
.nav-wrapper{
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--mainColor);
}
#navigation{
  margin: 0;
  padding: 10px;
}
#navigation li{
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}
#navigation a{
  color: var(--mainText);
}
.dot-wrapper{
  display: flex;
}
.browser-dot{
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.75);
  margin: 5px;
}
#dot-1{
  background-color: #fc6058;
}
#dot-2 {
  background-color: #fcc02f;
}
#dot-3 {
  background-color: #2aca3e;
}
.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile-pic{
  /* height: 200px; */
  width: 300px;
  object-fit: cover;
  border: 5px solid var(--borderColor);
}
#theme-options-wrapper{
  display: flex;
  justify-content: center;
}
.theme-dot{
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  background-color: black;
  margin: 5px;
  border: 2px solid var(--themeBorder);
}
.theme-dot:hover{
  border-width: 5px;
}
.theme-dot:hover::after{
  position: absolute;
  width: 60px;
  height: 25px;
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 7px 5px rgba(82, 81, 81, 0.8);
  bottom: -100%;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Russo one", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #fff;
}
#light-mode{
  background-color: #fff;
}
#light-mode:hover::after{
  content: "white";
  color: #fff;
  background-color: black;
}
#blue-mode {
  background-color: #192734;
}
#blue-mode:hover::after {
  color: blue;
  content: "blue";
}
#green-mode{
  background-color: #78846b;
}
#green-mode:hover::after {
  color: green;
  content: "green";
}
#purple-mode {
  background-color: #7e4c74;
}
#purple-mode:hover::after {
  color: purple;
  content: "purple";
}
#settings-note{
  font-size: 12px;
  font-style: italic;
  text-align: center;
}
.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding: 50px;
}
#preview-shadow{
  background-color: var(--previewShadow);
  width: 300px;
  height: 150px;
  padding-top: 30px;
  padding-left: 30px;
  
}
#preview{
  width: 300px;
  border: 1.5px solid #17a2b8;
  position: relative;
  background-color: var(--previewBackground);
  padding: 15px;
}
.corner{
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}
#corner-tl{
  top: -5px;
  left: -5px;
}
#corner-tr {
  top: -5px;
    right: -5px;
}
#corner-br {
  bottom: -5px;
    right: -5px;
}
#corner-bl {
  bottom: -5px;
    left: -5px;
}
.about-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding: 50px 0;
  gap: 100px;
}
#skills{
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}
.social-links{
  display: grid;
  align-content: center;
  text-align: center;
}
#social-img{
  width: 100%;
}
.post-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}
.post{
  border: 1px solid var(--borderColor);
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.75);
}
.thumbnail{
  width: 100%;
  /* height: 200px; */
  display: block;
  object-fit: cover;
}
.post-preview{
  background-color: #fff;
  padding: 15px;
}
.post-preview a{
  color: black;
}
.post-title{
  margin: 0;
  color: black;
}
.post-intro{
  color: #4b5156;
  font-size: 16px;
}
#contact-form{
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}
#contact-form label{
  line-height: 2.7em;
}
textarea{
  max-height: 100px;
  max-width: 600px;
  scroll-behavior: var(--mainColor);
}
.input-field{
  width: 100%;
  padding: 10px 0;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}
#submit-btn{
  background-color: var(--btnColor);
  margin: 10px 0 0 0;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  border: none;
}
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-content{
  color: var(--mainText);
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Poppins";
}
.footer-content span{
  color: red;
  font-size: x-large;
}
.footer-content a:hover{
  color: blue;
  text-decoration: underline;
  text-decoration-color: #17a2b8;
  padding-bottom: 30px;
}
footer .return{
  position: sticky;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(45deg, purple, blue);
  padding: 3px;
}
footer .arrowdiv {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--mainColor);
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  font-weight: 600;
}

footer a:active{
  transition: 1s ease;
}







@media screen and (max-width:1200px) {
  .main-container{
    width: 50%;
  }
}
@media screen and (max-width:1200px) {
  .intro-wrapper {
      grid-template-columns: 1fr;
      grid-template-areas:
        'nav-wrapper'
        'left-column'
        'right-column'
      ;
    }
    .right-column{
      justify-content: center;
    }
}