:root {
  --mainColor: #33a80f;
  --secondaryColor: #065e15;
  --borderColor: #0b1603;
  --mainText: #dcecd8;
  --secondaryText: #dadfd7;
  --themeBorder: #15a701;
  --previewBackground: rgb(81, 90, 72, 0.8);
  --previewShadow: #697e53;
  --btnColor: #73ff00;
  --themeHover: green;
}